name: Actions Workflow

on: [push, workflow_dispatch, pull_request]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List Files
        run: |
          pwd
          ls -a
          echo: $GITHUB_SHA
          echo: $GITHUB_REPOSITORY
          echo: $GITHUB WORKSPACE
          echo: "${{ github.token }}"
      - name: Checkout
        uses: actions/checkout@v1
      - name: List Files
        run: |
          pwd
          ls -a
      - name: Simple JS Action
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with: 
          who-to-greet: Ahmed
      - name: Log Greeting Time
        run: echo "${{ steps.greet.outputs.time }}"